NEXT_PUBLIC_APP_NAME=WCS Inventory Invoice
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/wcs_inventory
NEXTAUTH_SECRET=replace-with-a-random-secret
NEXTAUTH_URL=http://localhost:3000
